<html>
    <body>
        <table>
            <tr> 
                <td>

                    <a href="{% url 'link_fy' %}">FY</a>


                </td>
                <td>

                    <a href="{% url 'link_sy' %}">SY</a>


                </td>
                <td>

                    <a href="{% url 'link_ty' %}">TY</a>


                </td>
                <td>

                    <a href="{% url 'link_record' %}">Record</a>


                </td>
            </tr>
        </table>
        <td>
    </body>
</html>